{% extends 'base.html.twig' %}

{% block title %}cours entity{% endblock %}

{% block body %}
    <h1>Test des entity</h1>
     nom: {{ utilisateur.nom }}<br>
     prenom: {{ utilisateur.prenom }}

{% endblock %}
